# Python
__pycache__/
*.pyc
venv/
*.db
*.sqlite3

# Node
node_modules/

# Virtual environments
.venv/
.ML/

# OS
.DS_Store

# PDFs / temp
*.pdf
ai_agent/.env
frontend/node_modules/
node_modules/
.venv/
*.db
